#end-rainbow {
    padding: 0 60px 30px;
}
.form-control {
    width: 50px !important;
    height: 30px;
}

h1 {
    margin: 0;
    z-index: 2;
    font-family: roboto;
    font-weight: 500;
    font-size: 100px;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 4px #bbb;
}

h1 span {
    float: right;
    font-size: 72px;
    padding-top: 20px;
}

.btn {
    margin: 10px 30px;
}

.color-row input:last-child {
    display: none;
}

.header {
    position: relative;
    height: 103px;
    overflow: hidden;
    margin-bottom: 50px;
}

.rainbow {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    font-family: empty;
    background: black;
}

.color-pane {
    width: 7.14%;
    display: inline-block;
    vertical-align: top;
    height: 150px;
}

.input-group input {
    margin: 0 10px;
    width: 90%;
    display: block;
}

.hsl-labels {
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #646464;
}

.hsl-labels div {
    width: 150px;
    margin: 0 10px;
    display: inline-block;
}

.palette {
    width: 30px;
    margin: 20px 5px 0;
    display: inline-block;
    vertical-align: top;
}

.color-picker > .palette {
    padding-top: 6px;
}

.palette-form {
    display: inline-block;
}

.slider {
    display: inline-block;
    width: 150px;
    margin: 0 8px;
}

.color, .slider {
    height: 25px;
    margin-bottom: 3px;
}

.color {
    border: 1px solid #ddd;
    width: 100%;
}

.new-palette-picker {
    border: 1px solid #ddd;
    padding: 5px;
}
