<!doctype html>
<html>

<head>
<title>#endRainbow</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,300,200|Roboto:500,600,300,100' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="header">
    <div class="rainbow">
    {% for color in old_palette %}<div class="color-pane"
             style="background-color: rgb( {{ color[0] }},
                                           {{ color[1] }},
                                           {{ color[2] }});"></div>{% endfor %}
    </div>
    <h1>#endRainbow</h1>
</div>

<div id="end-rainbow"></div>

<script src="static/app.bundle.js?"></script>

</body>

</html>
